{% extends 'detail-base.html' %}
{% load staticfiles %}
{% block title %}个人中心{% endblock %}
{% block custom_bread %}
<section>
	<div class="wp">
		<ul  class="crumbs">
			<li><a href="{% url 'index' %}">首页</a>></li>
            <li><a href="{% url 'operation:user_info' %}">个人中心</a>></li>
		</ul>
	</div>
</section>
{% endblock %}
{% block content %}
 <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>我的课程</h1>
			</div>
		</div>
		<div class="personal_des permessage">
			<div class="companycenter">
				<div class="group_list brief">
                        <div class="module1_5 box">
                            <a href="/group/groupdetail/13/">
                                <img width="214" height="190" class="scrollLoading" data-url="../images/sass.jpg" src="../images/pixel.gif"/>
                            </a>
                            <div class="des">
                                <a href="/group/groupdetail/13/"><h2>django开发实战</h2></a>
                                <span class="fl">价格：<i class="key">免费</i></span>
                                <span class="fr">学习人数：1200</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">慕课网</span>
                                <span class="star fr  notlogin" data-favid="15">0</span>
                            </div>
                        </div>

                    <div class="module1_5 box">
                        <a href="/group/groupdetail/13/">
                            <img width="214" height="190" class="scrollLoading" data-url="../images/sass.jpg" src="../images/pixel.gif"/>
                        </a>
                        <div class="des">
                            <a href="/group/groupdetail/13/"><h2>django开发实战</h2></a>
                            <span class="fl">价格：<i class="key">免费</i></span>
                            <span class="fr">学习人数：1200</span>
                        </div>
                        <div class="bottom">
                            <span class="fl">慕课网</span>
                            <span class="star fr  notlogin" data-favid="15">0</span>
                        </div>
                    </div>

                    <div class="module1_5 box">
                        <a href="/group/groupdetail/13/">
                            <img width="214" height="190" class="scrollLoading" data-url="../images/sass.jpg" src="../images/pixel.gif"/>
                        </a>
                        <div class="des">
                            <a href="/group/groupdetail/13/"><h2>django开发实战</h2></a>
                            <span class="fl">价格：<i class="key">免费</i></span>
                            <span class="fr">学习人数：1200</span>
                        </div>
                        <div class="bottom">
                            <span class="fl">慕课网</span>
                            <span class="star fr  notlogin" data-favid="15">0</span>
                        </div>
                    </div>

                    <div class="module1_5 box">
                        <a href="/group/groupdetail/13/">
                            <img width="214" height="190" class="scrollLoading" data-url="../images/sass.jpg" src="../images/pixel.gif"/>
                        </a>
                        <div class="des">
                            <a href="/group/groupdetail/13/"><h2>django开发实战</h2></a>
                            <span class="fl">价格：<i class="key">免费</i></span>
                            <span class="fr">学习人数：1200</span>
                        </div>
                        <div class="bottom">
                            <span class="fl">慕课网</span>
                            <span class="star fr  notlogin" data-favid="15">0</span>
                        </div>
                    </div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}

